*, :before, :after {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, figure, ol, ul {
  margin: 0;
  padding: 0;
  white-space: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  text-rendering: optimizeLegibility;
  font-weight: normal;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:active,
a:hover {
  outline: 0;
}

li {
  display: block;
}

img {
  height: auto;
  border: 0;
}

hr {
  margin-top: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

input {
  border-radius: 0;
}

input,
textarea,
select {
  appearance: none;
  display: block;
  max-width: 100%;
}

input[disabled],
textarea[disabled],
select[disabled] {
  cursor: default;
}

select::-ms-expand {
  display: none;
}

label {
  display: inline-block;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type=radio] {
  appearance: radio;
}

input[type=checkbox] {
  appearance: checkbox;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0 !important;
}

input[type="search"],
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}

input[type=submit] {
  border: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

textarea {
  min-height: 100px;
}

input[type="image"] {
  border: none;
}

select {
  background: none;
}

select:focus {
  outline: none;
}
